# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Data files
data/raw/*
data/processed/*
data/indexes/*

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/indexes/.gitkeep

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/